ul {
    list-style-type: none;
    position:relative;
   left:-7%;
    width: 100%;

}
li{
	display: inline;

	
}
li a {
   
    color:$secondary-color;
    font-family: $font;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10%;

	
}